<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029026696992-9sr8du467dnbl7q2ebokkc1lse6v12m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029026696992-9sr8du467dnbl7q2ebokkc1lse6v12m1</string>
	<key>API_KEY</key>
	<string>AIzaSyA_mOdX416djHaY_sQqSB7KUNSmECfS-YY</string>
	<key>GCM_SENDER_ID</key>
	<string>1029026696992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>opticalpalm.MessengerV2</string>
	<key>PROJECT_ID</key>
	<string>messengerv2-50b21</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerv2-50b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029026696992:ios:77d95eae4b7d23b7109145</string>
</dict>
</plist>